.debug *{
    background-color: rgba(158, 25, 25, 0.525);
    border: 1px solid rgba(158, 25, 25, 0.525);
}


.fa-bars{
    font-size: 1.5em;
    padding: .6em;
    border: 1px solid white;
    border-radius: .2em;
}
.star-container{
    width: 100%;
    
}

.lateral-bar{
    width: 100%;
    max-width: 100px;
    height: 4px;
    background-color: white;
}


.fa-star{
    font-size: 2em;
}

.btn-light{
    color: white;
    background-color: transparent;
}

.btn-success{
    background-color: #1abc9c;
    border: transparent;
}
/* navbar */
nav{
    height: 100px;
    background-color: #2c3e50;
    color: white;
}


/* /navbar */

/* header */
header{
    background-color: #1abc9c;
    color: white;
}

header .image-header{
    width: 200px;
}



/*/ header */


/* main */

main .cards-container{
    width: 100%;
}

main .about-container{
    background-color: #1abc9c;
}
/*/ main */


/* footer */
footer{
    background-color: #2c3e50;
    color: white;
}

footer .footer-top{
    background-color: #3a546d;
    color: white;
}


footer .icon-footer .icon-radius{
    padding: .8em;
    border: 1px solid white;
    border-radius: 50%;
    height: 2.3em;
    width: 2.3em;
}

footer .icon-footer .icon-radius > *{
    transform: translate(-20%, -50%);
}

/* /footer */
